---
import LayoutCv from "@/layouts/LayoutCv.astro";
import HeaderCv from "@/sections/HeaderCv.astro";
import PrimeraSecCv from "@/components/PrimeraSecCv.astro";
import SegundaSecCv from "@/components/SegundaSecCv.astro";
import TerceraSecCv from "@/components/TerceraSecCv.astro";
---

<LayoutCv title="Download | Cv">
    <section class="w-[786px] h-[842px] mx-auto bg-slate-10 p-20 pt-12">
		<div class="fixed top-0 left-0 w-full bg-sky-200 text-center z-10 no-print">
			presiona <kbd>Ctrl + P</kbd> para imprimir el curriculum.
		</div>
		<HeaderCv />
		<PrimeraSecCv />
		<SegundaSecCv />
		<TerceraSecCv />
	</section>
</LayoutCv>

<style>
	@media print {
		.no-print {
			display: none;
		}
	}
</style>