<article class="[grid-area:estudios]" id="estudios">
    <h2 class="text-2xl font-bold text-chill-50 font-cinzel">Estudios</h2>
    <ol class="relative mt-6">
        <li class="">
            <div
                class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-chill-900 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
            >
                <div class="relative pb-6 md:col-span-2">
                    <div class="sticky top-0">
                        <span
                            class="text-chill-400 -left-[42px] absolute rounded-full text-5xl"
                            >•</span
                        >
                        <h3 class="text-xl font-bold text-chill-400">
                            Creador de Contenido
                        </h3>
                        <h4
                            class="font-semibold text-xl text-chill-50"
                        >
                            Twitch
                        </h4>
                        <time
                            class="p-0 m-0 text-sm text-chill-50/30"
                            >Actualmente...</time
                        >
                    </div>
                </div>
                <div
                    class="relative flex flex-col gap-2 pb-4 text-chill-50/60 md:col-span-3"
                >
                    Divulgo sobre programación y desarrollo web en diferentes
                    plataformas. Galardonado como mejor creador de contenido de
                    habla no-inglesa en 2022 y mejor comunidad en 2023 por
                    GitHub. <a
                        href="https://twitch.tv/midudev"
                        role="link"
                        class="inline-flex items-center text-sm font-medium text-chill-500 transition-colors duration-300 hover:text-chill-700"
                    >
                        Saber más <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-5 icon icon-tabler icon-tabler-chevron-right"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </li>
        <li class="">
            <div
                class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-chill-900 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
            >
                <div class="relative pb-6 md:col-span-2">
                    <div class="sticky top-0">
                        <span
                            class="text-chill-400 -left-[42px] absolute rounded-full text-5xl"
                            >•</span
                        >
                        <h3 class="text-xl font-bold text-chill-400">
                            Creador de Contenido
                        </h3>
                        <h4
                            class="font-semibold text-xl text-chill-50"
                        >
                            Twitch
                        </h4>
                        <time
                            class="p-0 m-0 text-sm text-chill-50/30"
                            >Actualmente...</time
                        >
                    </div>
                </div>
                <div
                    class="relative flex flex-col gap-2 pb-4 text-chill-50/60 md:col-span-3"
                >
                    Divulgo sobre programación y desarrollo web en diferentes
                    plataformas. Galardonado como mejor creador de contenido de
                    habla no-inglesa en 2022 y mejor comunidad en 2023 por
                    GitHub. <a
                        href="https://twitch.tv/midudev"
                        role="link"
                        class="inline-flex items-center text-sm font-medium text-chill-500 transition-colors duration-300 hover:text-chill-700"
                    >
                        Saber más <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-5 icon icon-tabler icon-tabler-chevron-right"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </li>

    </ol>
</article>
