---
interface Props {
	title: string;
}
const { title } = Astro.props;

import Sidebar from "@/sections/Sidebar.astro";
import Background from "@/components/Background.astro";
import BackgroundStar from "@/components/BackgroundStar.astro";
// fonts
// Supports weights 200-800
import "@fontsource-variable/manrope";

import "@fontsource/cinzel-decorative/400.css";
import "@fontsource/cinzel-decorative/700.css";
import "@fontsource/cinzel-decorative/900.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-950 text-xs text-chill-50 p-4 relative">
		<BackgroundStar />
		<main
			class="main-container fixed top-2 left-2 right-2 bottom-2 max-w-[1366px] mx-auto"
		>
			<Background />
			<Sidebar />
			<section
				class="section-container bg-chill-800/10 rounded-xl p-4 overflow-y-auto h-full scroll-smooth [grid-area:section]"
			>
				<slot />
			</section>
		</main>
	</body>
</html>
<style is:global>
	* {
		margin: 0;
		padding: 0;
		border: 0;
		box-sizing: border-box;
	}
	body {
		font-family: "Manrope Variable", sans-serif;
	}
	.main-container {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "sidebar section";
		gap: 0.5rem;
		align-items: flex-start;
	}
	.section-container {
		scrollbar-width: thin;
		scrollbar-color: #0891b2 #ecfeff10;
		/* grid-column: span 1; */
		grid-row: span 2;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "info" "estudios" "portafolio" "contacto";
		gap: 2rem;
	}
	::selection{
		@apply bg-chill-200 text-black;
	}
</style>
