---
interface Props {title: string}
const { title } = Astro.props;

import Sidebar from "@/sections/Sidebar.astro"
import MainContenedor from "@/sections/MainContenedor.astro"
// fonts
// Supports weights 200-800
import '@fontsource-variable/manrope';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-chill-950 text-xs text-chill-50 p-4">
		<div class="grid grid-cols-[auto_1fr] gap-x-4 items-start fixed top-4 left-4 right-4">
			<Sidebar />
			<MainContenedor>
				<slot />
			</MainContenedor>
		</div>
	</body>
</html>
<style is:global>
	*{
		margin: 0;
		padding: 0;
		border: 0;
		box-sizing: border-box;
	}

	body{
		font-family: 'Manrope Variable', sans-serif;
	}
</style>
